.sign__up {
  padding-bottom: 120px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  & .inner {
    width: 70%;
  }
  &__form {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
    & input {
      background-color: #170c1f;
      border-radius: 8px;
      border: 1px solid #7a56d6;
      color: #333;
      font-size: 14px;
      height: 38px;
      line-height: 1.42857;
      padding: 8px 12px;
      width: 100%;
    }
  }
}

@media (max-width: 993px) {
  .sign__up {
    padding-bottom: 80px;
    padding-top: 80px;

    & .inner {
      width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .sign__up {
    padding-bottom: 60px;
    padding-top: 40px;

    &__form {
      flex-direction: column;
      width: 100%;
      gap: 12px;
      & button {
        width: 100% !important;
      }
    }
  }
}
