.button {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #3f2d6d,
    #7a56d6 33%,
    #9077ce 66%,
    #fff0
  );
  background-color: #7a56d6;
  border-radius: 5px;
  border: 1px solid #7a56d6;
  box-shadow: 0 1px 5px 0 #7a56d6;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  max-height: 40px;
  min-height: 40px;
  padding: 10px 30px;
  transition: all 1s;
  & span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  & .icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  &:hover {
    // background-position: right;
    // background: linear-gradient(
    //   90deg,
    //   #3f2d6d,
    //   #7a56d6 33%,
    //   #9077ce 66%,
    //   #fff0
    // );
    transition: all 1s;
  }
}
