.challenges {
  padding-top: 120px;
  & .title {
    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    //   rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    // transform-style: preserve-3d;
    color: #fff;
    font-family: var(--font-montserrat);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
  }
  & .subtitle {
    color: #cccccceb;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 12px;
    text-align: center;
  }
  & .cards {
    display: grid;
    gap: 37px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 36px;
  }
}
