.challenges {
  padding-top: 120px;

  & .cards {
    display: grid;
    gap: 37px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 36px;
  }
}

@media (max-width: 993px) {
  .challenges {
    padding-top: 80px;

    & .cards {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 480px) {
  .challenges {
    & .cards {
      gap: 15px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
