* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  //   outline: none;
}
a:focus,
a:active {
  // outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html {
  font-size: 16px;
}
html,
body {
  height: 100%;
  min-width: 340px;
  font-family: var(--font-open-sans);
  scrollbar-color: #7a56d6 #7a56d6;
  scrollbar-width: thin;
  overflow-x: hidden;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(
    #0a0111 8%,
    #08020f 30%,
    #0f011d 57%,
    #150025 72%,
    #000
  );
  background: #000;
}
input,
button,
textarea {
  font-size: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
input:focus::placeholder {
  color: transparent;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 993px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
