.title {
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.subtitle {
  color: #cccccceb;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 0.9rem;
  }
}
