.ownership {
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  & .title {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    & span {
      color: #7a56d6;
    }
  }
  & .photo__wrapper {
    height: 550px;
    margin-top: 32px;
    max-width: 550px;
    width: 100%;
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .ownership {
    padding-top: 60px;
    & .title {
      font-size: 2rem;
      line-height: 1.1;
    }
  }
}
@media (max-width: 480px) {
  .ownership {
    & .title {
      font-size: 20px;
      line-height: 1.2;
    }
    & .photo__wrapper {
      height: 480px;
    }
  }
}
