.guide {
  padding-top: 120px;
  & .title {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
  }
  & .subtitle {
    color: #cccccceb;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
  }
}
